<!-- ** BEGIN Fax Phone AREA -->
<div class="row">
    <div class="col-sm-5">
        <div class="form-group">
            @Html.Label("Fax", "Fax")
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="form-group">
            @Html.Label("FaxPhone", "Phone Number")
            @Html.TextBox("Fax", "", new {@class = "form-control", data_bind = "value:faxphonenumber"})
        </div>
    </div>
    <div class="col-sm-5">
        <div class="form-group">
            @Html.Label("FaxCountry", "Country")
            <select class="form-control" data-bind="value: faxcountry, options: countries, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
        </div>
    </div>
</div>
<!-- ** END Fax Phone AREA -->