<!-- ** BEGIN Phones AREA -->
<div class="panel-group">
    @{ Html.RenderPartial("Phones/CellPhone"); }
    @{ Html.RenderPartial("Phones/HomePhone"); }
    @{ Html.RenderPartial("Phones/WorkPhone"); }
    @{ Html.RenderPartial("Phones/faxPhone"); }
</div>
<!-- ** END Phones AREA -->