<!-- ** BEGIN Cell Phone AREA -->
<div class="panel panel-default" data-bind="" id="CellPhone">
    <div class="panel-heading">
        Cell Phone
        <div class="form-group pull-right">
            <input data-bind="checked: cellisprimary" name="CellIsPrimary" type="checkbox">
            @Html.Label("PrimaryCell", "Is Primary")
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            @*<div class="col-sm-5">
                <div class="form-group">
                    @Html.Label("PhoneNumber", "Phone Number")
                    @Html.TextBox("Address1", "", new {@class = "form-control", data_bind = "value:PhoneNumber"})
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    @Html.Label("Country", "Country")
                    <select class="form-control" data-bind="options: countries, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
                </div>
            </div>*@
        </div>
    </div>
</div>
<!-- ** END Cell Phone AREA -->