<!-- ** BEGIN Fax Phone AREA -->
<form>
    <div class="row">
        <div class="small-4 columns">
            <label>
                Fax Number
                @Html.TextBox("FaxNumber", "", new { @class = "form-control", data_bind = "value:personfaxphonenumber" })
            </label>
        </div>
        <div class="small-4 columns end">
            <label>
                Country
                <select class="form-control" data-bind="value: personfaxcountry, options: countries, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
            </label>
        </div>
    </div>
</form>
<!-- ** END Fax Phone AREA -->