<!-- ** BEGIN Fax Phone AREA -->
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            @Html.Label("FaxPhone", "Fax Number")
            @Html.TextBox("Fax", "", new {@class = "form-control", data_bind = "value:personfaxphonenumber"})
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            @Html.Label("FaxCountry", "Country")
            <select class="form-control" data-bind="value: personfaxcountry, options: countries, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
        </div>
    </div>
</div>
<!-- ** END Fax Phone AREA -->