@using System.Web.Script.Serialization
@model ViewData.Administration.StudyDesignViewModel

@{
    ViewBag.Title = "Study Design Management";
}

@using (Html.BeginForm())
{
    <div class="table-descriptor small-12 columns">
        <p>
            <span>Hear About Us</span>
        </p>
        <div data-bind="visible: IsSearchAreaVisible">
            @{ Html.RenderPartial("Search"); }
        </div>
        <div data-bind="visible: IsMessageAreaVisible">
            @{ Html.RenderPartial("Message"); }
        </div>
        <div data-bind="visible: IsAddEditAreaVisible">
            @{ Html.RenderPartial("AddEditStudyDesign"); }
        </div>
        <div data-bind="visible: IsListAreaVisible">
            <!--ko if: DragDropComplete-->
            @{ Html.RenderPartial("List"); }
            <!--/ko-->
        </div>
    </div>
                }

@{ string data = new JavaScriptSerializer().Serialize(Model); }

@section scripts {
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/KOViewModels/vmStudyDesign.js"></script>
    <script>
        var rawData = new StudyDesignViewModel(@Html.Raw(data));
        ko.applyBindings(rawData);
    </script>
}
