<!-- ** BEGIN Place Detail AREA -->
<div class="callout" id="PersonDetail">
    <div class="top-bar">
        <div class="top-bar-title">
            <ul class="menu">
                <li>
                    @Html.Label("detailheader", new {data_bind = "text: detailHeader" })
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <a class="small-text-label columns" data-bind="click: DetailView.Primary" href="">List</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="click: DetailView.Phones" href="">Phones</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="click: DetailView.Addresses" href="">Addresses</a>
                </li>
            </ul>
        </div>
    </div>
    <div data-bind="visible: IsPrimaryDetailVisible()">
        @{ Html.RenderPartial("Person/PersonPrimary"); }
    </div>
    <div data-bind="visible: IsPhoneDetailVisible()">
        @{ Html.RenderPartial("Person/Phones/Phones"); }
    </div>
    <div data-bind="visible: IsPersonAddressDetailVisible()">
        @{ Html.RenderPartial("Person/Addresses/Addresses"); }
    </div>
</div>
<!-- ** END Place Detail AREA -->
