@using System.Web.Script.Serialization
@model ViewManagement.Models.Places.SiteConfigurationViewModel

@{
    ViewBag.Title = "Site Configuration";
}

@using (Html.BeginForm())
{
    <div class="table-descriptor small-12 columns">
        <p>
            <span>Site Configuration</span>
        </p>
        <div data-bind="visible: IsSearchAreaVisible">
            @{ Html.RenderPartial("Search"); }
        </div>
        <div data-bind="visible: IsMessageAreaVisible">
            @{ Html.RenderPartial("Message"); }
        </div>
        <div data-bind="visible: IsAddEditAreaVisible">
            @{ Html.RenderPartial("Place/PlaceAddEdit"); }
        </div>
        <div data-bind="visible: IsListAreaVisible">
            <!--ko if: DragDropComplete-->
            @{ Html.RenderPartial("Place/PlaceList"); }
            <!--/ko-->
            <div class="row" data-bind="visible: IsResourceAreaVisible">
                <div class="table-descriptor small-12 columns">
                    @{ Html.RenderPartial("FacilityResource"); }
                </div>
            </div>
        </div>
    </div>
}

@{ string data = new JavaScriptSerializer().Serialize(Model); }

@section scripts {
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/KOViewModels/vmSiteConfiguration.js"></script>
    <script>
        var rawData = new PlaceViewModel(@Html.Raw(data));
        ko.applyBindings(rawData);
    </script>
}