<!-- ** BEGIN DETAIL AREA ** -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">
            Gift Card Information
        </h1>
    </div>
    <div class="panel-body">
         <!-- ** BEGIN INPUT AREA -->

        <div class="form-group">
            @Html.Label("GiftCard", "Gift Card")
            @Html.TextBox("GiftCard", "", new { @class = "form-control", data_bind = "value:name" })
        </div>

        <!-- ** END INPUT AREA -->
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-sm btn-primary" type="button"
                   data-bind="click: save" href="#"><i class="glyphicon glyphicon-floppy-disk"></i>Save</a>
                <a class="btn btn-sm btn-primary" type="button"
                   data-bind="click: addorcancel" href="#"><i class="glyphicon glyphicon-remove-circle"></i>Cancel</a>
            </div>
        </div>
    </div>
</div>
<!-- ** END DETAIL AREA ** -->