@using System.Web.Script.Serialization
@model ClaudeViewManagement.ViewModels.Settings.GiftCardViewModel

@{
    ViewBag.Title = "Gift Card Managements";
}

@using (Html.BeginForm())
{
    <div data-bind="visible: IsSearchAreaVisible">
        @{ Html.RenderPartial("Search"); }
    </div>
    <div data-bind="visible: IsMessageAreaVisible">
        @{ Html.RenderPartial("Message"); }
    </div>
    <div data-bind="visible: IsAddEditAreaVisible">
        @{ Html.RenderPartial("AddEdit"); }
    </div>
    <div data-bind="visible: IsListAreaVisible">
        @{ Html.RenderPartial("List"); }
    </div>
}

@{ string data = new JavaScriptSerializer().Serialize(Model); }

@section scripts {
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/KOViewModels/vmGiftCard.js"></script>
    <script>
        var rawData = new GiftCardViewModel(@Html.Raw(data));
        ko.applyBindings(rawData);
    </script>
}