<!-- BEGIN GRID AREA -->
<div>
    <div class="table-responsive" id="itemslist">
        <table class="table table-condensed table-bordered table-striped table-hover">

            <thead>
                <tr>
                    <th class="pdsa-action-button-area">
                        Edit
                    </th>
                    <th style="display: none">RecordId</th>
                    <th data-bind="click: namesort">Gift Card<i class="glyphicon glyphicon-sort pull-right"></i></th>
                    <th>Create Date</th>
                    <th data-bind="click: displayordersort">Order<i class="glyphicon glyphicon-sort pull-right"></i></th>
                    <th class="pdsa-action-button-area">
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: filteredItems()" id="items">
                <tr id="itemrow">
                    <td class="ui-priority-secondary" id="edit">
                        <a class="btn btn-default btn-sm" data-bind="click: $parent.edit" href="#" type="button">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </td>
                    <td class="ui-priority-secondary" data-bind="text: RecordId" id="recordid" style="display: none"></td>
                    <td class="ui-priority-secondary" data-bind="text: Name" id="name"></td>
                    <td class="ui-priority-secondary" data-bind="text: StringCreateDate" id="createdate"></td>
                    <td class="ui-priority-secondary" data-bind="text: DisplayOrder" id="displayorder"></td>
                    <td class="ui-priority-secondary" id="delete">
                        <a class="btn btn-default btn-sm" data-bind="click: $parent.removelistitem.bind($data)" href="#" type="button">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<!-- END GRId AREA -->