<!-- ** BEGIN Place Detail AREA -->
<div class="callout" id="PlaceDetail">
    <div class="top-bar">
        <div class="top-bar-title">
            <ul class="menu">
                <li>
                    @Html.Label("placeheader", new {data_bind = "text: detailHeader" })
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <a class="small-text-label columns" data-bind="click: DetailView.Primary" href="">List</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="click: DetailView.Phones" href="">Phones</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="click: DetailView.Addresses" href="">Addresses</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="click: DetailView.Contacts" href="">Contacts</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="click: DetailView.Brands" href="">Brands</a>
                </li>
            </ul>
        </div>
    </div>
    <div data-bind="visible: IsPrimaryDetailVisible()">
        @{ Html.RenderPartial("Place/PlacePrimary"); }
    </div>
    <div data-bind="visible: IsPhoneDetailVisible()">
        @{ Html.RenderPartial("Place/Phones/Phones"); }
    </div>
    <div data-bind="visible: IsPlaceAddressDetailVisible()">
        @{ Html.RenderPartial("Place/Addresses/Addresses"); }
    </div>
    <div data-bind="visible: IsContactDetailVisible()">
        @{ Html.RenderPartial("Person/Contact/Contacts"); }
    </div>
    <div data-bind="visible: IsBrandDetailVisible()">
        @{ Html.RenderPartial("CustomerBrand"); }
    </div>
</div>
<!-- ** END Place Detail AREA -->
