<!-- BEGIN GRID AREA -->
<div class="table-responsive" id="itemslist">
    <table class="table table-condensed table-bordered table-striped table-hover" id="datatable">

        <thead>
        <tr>
            <th class="pdsa-action-button-area" data-bind="click: ManageSort.Change(0)">Edit</th>
            <th style="display: none" data-bind="click: ManageSort.Change(0)">PlaceId</th>
            <th data-bind="click: ManageSort.Change(1)">Order</th>
            <th data-bind="click: ManageSort.Change(2)">Customer</th>
            <th data-bind="click: ManageSort.Change(3)">Division</th>
            <th data-bind="click: ManageSort.Change(4)">Department</th>
            <th class="listcentered" data-bind="click: ManageSort.Change(5)">TimeZone</th>
            <th class="listcentered" data-bind="click: ManageSort.Change(6)">Country</th>
            <th class="pdsa-action-button-area" data-bind="click: ManageSort.Change(0)">Delete</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: filteredItems()" id="items">
        <tr id="itemrow">
            <td class="listcentered" id="edit">
                <a class="btn btn-default btn-sm" data-bind="click: $parent.edit" href="#" type="button">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
            <td class="listcentered" data-bind="text: PlaceId" id="placeid" style="display: none"></td>
            <td class="listcentered" data-bind="text: DisplayOrder" id="order"></td>
            <td class="ui-priority-secondary" data-bind="text: Name" id="name"></td>
            <td class="ui-priority-secondary" data-bind="text: Division" id="division"></td>
            <td class="ui-priority-secondary" data-bind="text: Department" id="department"></td>
            <td class="listcentered" data-bind="text: TimeZoneName" id="timezonename"></td>
            <td class="listcentered" data-bind="text: CountryName" id="country"></td>
            <td class="listcentered" id="delete">
                <a class="btn btn-default btn-sm" data-bind="click: $parent.removelistitem.bind($data)" href="#" type="button">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
<!-- END GRId AREA -->