<!-- BEGIN GRID AREA -->
<div class="table-row small-12 columns" id="itemslist">
    <table class="tabled" id="datatable">

        <thead class="light">
        <tr>
            <th class="pdsa-action-button-area" data-bind="click: ManageSort.Change(0), disable: IsListAreaVisible">Edit</th>
            <th data-bind="click: ManageSort.Change(1)" style="display: none">RecordId</th>
            <th data-bind="click: ManageSort.Change(1)" style="display: none">Order</th>
            <th data-bind="click: ManageSort.Change(2)">Product Group</th>
            <th class="listcentered" data-bind="click: ManageSort.Change(3)">Create date</th>
            <th class="listcentered" data-bind="click: ManageSort.Change(4)">IsSystem</th>
            <th class="pdsa-action-button-area" data-bind="click: ManageSort.Change(0), disable: IsListAreaVisible">Delete</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: filteredItems()" id="items">
        <tr id="itemrow">
            <td class="listcentered" id="edit">
                <a class="button small blue-2" data-bind="click: $parent.edit" href="#">
                    Select
                </a>
            </td>
            <td class="listcentered" data-bind="text: RecordId" id="recordid" style="display: none"></td>
            <td class="listcentered" data-bind="text: DisplayOrder" id="order" style="display: none"></td>
            <td class="ui-priority-secondary" data-bind="text: Name" id="name"></td>
            <td class="listcentered" data-bind="text: StringCreateDate" id="createdate"></td>
            <td class="listcentered" id="issystem">
                <input data-bind="checked: IsSystem" disabled name="issystem" type="checkbox">
            </td>
            <td class="listcentered" id="delete">
                <a class="button small blue-2" data-bind="click: $parent.RemoveItem.Validate.bind($data)" href="#" type="button">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
<!-- END GRId AREA -->