<!-- ** BEGIN Primary AREA -->
<div class="panel panel-default">
    <div class="panel-heading">
        List
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th class="pdsa-action-button-area">Edit</th>
                    <th>Type</th>
                    <th>Number</th>
                    <th>Extension</th>
                    <th>Carrier</th>
                    <th class="listcentered">IsPrimary</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="listcentered">
                        <a class="btn btn-default btn-sm" data-bind="click: DetailListEdit.Home" href="#" type="button">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </td>
                    <td class="ui-priority-secondary" data-bind="text: homephonetype"></td>
                    <td class="ui-priority-secondary" data-bind="text: homephonenumber"></td>
                    <td class="ui-priority-secondary"></td>
                    <td class="ui-priority-secondary"></td>
                    <td class="listcentered">
                        <input data-bind="checked: PlacePrimaryPhone.homeisprimary" disabled type="checkbox">
                    </td>
                </tr>
                <tr>
                    <td class="listcentered">
                        <a class="btn btn-default btn-sm" data-bind="click: DetailListEdit.Cell" href="#" type="button">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </td>
                    <td class="ui-priority-secondary" data-bind="text: cellphonetype"></td>
                    <td class="ui-priority-secondary" data-bind="text: cellphonenumber"></td>
                    <td class="ui-priority-secondary"></td>
                    <td class="ui-priority-secondary" data-bind="text: cellcarriername"></td>
                    <td class="listcentered">
                        <input data-bind="checked: PlacePrimaryPhone.cellisprimary" disabled type="checkbox">
                    </td>
                </tr>
                <tr>
                    <td class="listcentered">
                        <a class="btn btn-default btn-sm" data-bind="click: DetailListEdit.Work" href="#" type="button">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </td>
                    <td class="ui-priority-secondary" data-bind="text: workphonetype"></td>
                    <td class="ui-priority-secondary" data-bind="text: workphonenumber"></td>
                    <td class="ui-priority-secondary" data-bind="text: workextension"></td>
                    <td class="ui-priority-secondary"></td>
                    <td class="listcentered">
                        <input data-bind="checked: PlacePrimaryPhone.workisprimary" disabled type="checkbox">
                    </td>
                </tr>
                <tr>
                    <td class="listcentered">
                        <a class="btn btn-default btn-sm" data-bind="click: DetailListEdit.Fax" href="#" type="button">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </td>
                    <td class="ui-priority-secondary" data-bind="text: faxphonetype"></td>
                    <td class="ui-priority-secondary" data-bind="text: faxphonenumber"></td>
                    <td class="ui-priority-secondary"></td>
                    <td class="ui-priority-secondary"></td>
                    <td class="ui-priority-secondary"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th class="pdsa-action-button-area">Edit</th>
                    <th>Type</th>
                    <th>Address</th>
                    <th class="listcentered">IsShipping</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="listcentered">
                        <a class="btn btn-default btn-sm" data-bind="click: DetailListEdit.Mailing" href="#" type="button">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </td>
                    <td class="ui-priority-secondary" data-bind="text: mailingaddresstype"></td>
                    <td class="ui-priority-secondary" data-bind="text: PlaceMailingAddress.Value()"></td>
                    <td class="listcentered">
                        <input data-bind="checked: UseMailingforShipping()" disabled type="checkbox">
                    </td>
                </tr>
                <tr data-bind="visible: !UseMailingforShipping()">
                    <td class="listcentered">
                        <a class="btn btn-default btn-sm" data-bind="click: DetailListEdit.Shipping" href="#" type="button">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </td>
                    <td class="ui-priority-secondary" data-bind="text: shippingaddresstype"></td>
                    <td class="ui-priority-secondary" data-bind="text: PlaceShippingAddress.Value()"></td>
                    <td class="listcentered">
                        <input data-bind="checked: !UseMailingforShipping()" disabled type="checkbox">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- ** END Primary AREA -->