<!-- ** BEGIN Cell Phone AREA -->
<form>
    <div class="row">
        <div class="small-3 columns">
            <label>
                Cell Number
                @Html.TextBox("CellNumber", "", new { @class = "form-control", data_bind = "value:placecellphonenumber" })
            </label>
        </div>
        <div class="small-3 columns">
            <label>
                Carrier
                <select data-bind="value: placecellcarrier, options: mobilecarriers, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
            </label>
        </div>
        <div class="small-3 columns">
            <label>
                Country
                <select data-bind="value: placecellcountry, options: countries, optionsText: 'Text', optionsValue: 'Value', optionsCaption: 'Choose...'"></select>
            </label>
        </div>
        <div class="small-3 columns">
            <label class="center">
                Is Primary<br/>
                <input data_bind="checked: PlacePrimaryPhone.cellisprimary, event: { change: PlacePrimaryPhone.Cell }" type="checkbox">
            </label>
        </div>
    </div>
</form>
<!-- ** END Cell Phone AREA -->