<!-- ** BEGIN Phones AREA -->
<div class="callout" id="PlacePhones">
    <div class="top-bar">
        <div class="top-bar-title">
            <ul class="menu">
                <li>
                    @Html.Label("phonesheader", new { data_bind = "text: phoneHeader" })
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <a class="small-text-label columns" data-bind="click: PlacePhoneView.Home" href="">Home</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="click: PlacePhoneView.Cell" href="">Cell</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="click: PlacePhoneView.Work" href="">Work</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="click: PlacePhoneView.Fax" href="">Fax</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="click: PlacePhoneView.Primary" href="">Primary</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div data-bind="visible: IsPlaceHomePhoneVisible">
            @{ Html.RenderPartial("Place/Phones/HomePhone"); }
        </div>
        <div data-bind="visible: IsPlaceCellPhoneVisible">
            @{ Html.RenderPartial("Place/Phones/CellPhone"); }
        </div>
        <div data-bind="visible: IsPlaceWorkPhoneVisible">
            @{ Html.RenderPartial("Place/Phones/WorkPhone"); }
        </div>
        <div data-bind="visible: IsPlaceFaxPhoneVisible">
            @{ Html.RenderPartial("Place/Phones/FaxPhone"); }
        </div>
    </div>
</div>
<!-- ** END Phones AREA -->