@model ClaudeViewManagement.ViewModels.Settings.KoGiftCard

<!-- ** BEGIN SEARCH AREA ** -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Search for Gift Cards</h1>
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(m => m.SearchEntity, "Gift Card")
            @Html.TextBoxFor(m => m.SearchEntity, new { @class = "form-control", data_bind = "value:searchvalue" })
        </div>
    </div>
    <div class="panel-footer">
        <button id="btnSearch"
                class="btn btn-sm btn-primary"
                data-pdsa-action="search">
            <i class="glyphicon glyphicon-search"></i>
            &nbsp;Search
        </button>
        <button id="btnReset"
                class="btn btn-sm btn-primary"
                data-pdsa-action="resetsearch">
            <i class="glyphicon glyphicon-share-alt"></i>
            &nbsp;Reset
        </button>
        <button id="btnAdd"
                class="btn btn-sm btn-success"
                data-pdsa-action="add">
            <i class="glyphicon glyphicon-plus"></i>
            &nbsp;Add
        </button>

        <a class="btn btn-info btn-force-refresh pull-right"
           data-bind="click: addedit" href="#"><i class="icon-refresh"></i>Refresh</a>



    </div>
</div>
<!-- ** END SEARCH AREA ** -->