@using System.Web.Script.Serialization
@model ViewData.Facility.StaffMemberListViewModel

@{
    ViewBag.Title = "Staff Member Management";
}

@using (Html.BeginForm())
{
    <div class="table-descriptor small-12 columns">
        <p>
            <span>Staff Member</span>
        </p>
        <div data-bind="visible: IsSearchAreaVisible">
            @{ Html.RenderPartial("Search"); }
        </div>
        <div data-bind="visible: IsMessageAreaVisible">
            @{ Html.RenderPartial("Message"); }
        </div>
        <div data-bind="visible: IsAddEditAreaVisible">
            @{ Html.RenderPartial("Person/PersonAddEdit"); }
        </div>
        <div data-bind="visible: IsListAreaVisible">
            <!--ko if: DragDropComplete-->
            @{ Html.RenderPartial("Person/StaffMemberList"); }
            <!--/ko-->
        </div>
    </div>
                }

@{ string data = new JavaScriptSerializer().Serialize(Model); }

@section scripts{
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/KOViewModels/vmStaffMember.js"></script>
    <script>
        var rawData = new PersonViewModel(@Html.Raw(data));
        ko.applyBindings(rawData);
    </script>
}
