<!-- ** BEGIN Addresses AREA -->
<div class="panel panel-default" id="Addresses">
    <div class="panel-heading">
        Addresses
        <a class="btn btn-sm btn-secondary pull-right" data-bind="visible: !UseMailingforShipping(), click: AddressView.Shipping" href="#" type="button">
            Shipping
        </a>
        <a class="btn btn-sm btn-secondary pull-right" data-bind="visible: !UseMailingforShipping(), click: AddressView.Mailing" href="#" type="button">
            Mailing
        </a>
    </div>
    <div class="panel-body">
        <div data-bind="visible: IsMailingAddressVisible">
            @{ Html.RenderPartial("Address/MailingAddress"); }
        </div>
        <div data-bind="visible: IsShippingAddressVisible">
            @{ Html.RenderPartial("Address/ShippingAddress"); }
        </div>
    </div>
</div>
<!-- ** END Addresses AREA -->