<!-- ** BEGIN Addresses AREA -->
@{ Html.RenderPartial("Address/MailingAddress"); }
<div data-bind="visible: !UseMailingforShipping()">
    @{ Html.RenderPartial("Address/ShippingAddress"); }
</div>
<!-- ** END Addresses AREA -->