@{
    ViewBag.Title = "Claude | Home ";
}

<div class="container">
    <a href="../GiftCard/" class="btn">Gift Cards</a>
    <a href="../HearAboutUs/" class="btn">Hear About Us</a>
    <a href="../ProductGroup/" class="btn">Product Groups</a>

    <a href="../Facility/" class="btn">Facility</a>
    <a href="../Customer/" class="btn">Customer</a>
    <a href="../Organization/" class="btn">Organization</a>

    <a href="../StaffMember/" class="btn">Staff Members</a>
    <a href="../CustomerContact/" class="btn">Customer Contact</a>
    <a href="../Assessor/" class="btn">Assessor</a>
</div>