@{
    ViewBag.Title = "Claude | Home ";
}

<div class="table-row small-12 columns">
    <table class="tabled">
        <tbody>
        <tr>
            <td>
                <a class="btn" href="../GiftCard/">Gift Cards</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn" href="../HearAboutUs/">Hear About Us</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn" href="../ProductGroup/">Product Groups</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn" href="../BudgetCategory/">Budget Catgories</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn" href="../StudyDesign/">Study Designs</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn" href="../SiteConfiguration/">Site Configuration</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn" href="../Customer/">Customer</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn" href="../Organization/">Organization</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn" href="../StaffMember/">Staff Members</a>
            </td>
        </tr>
        @*<tr>
            <td>
                <a href="../CustomerContact/" class="btn">Customer Contact</a>
            </td>
        </tr>*@
        @*<tr>
            <td>
                <a href="../Assessor/" class="btn">Assessor</a>
            </td>
        </tr>*@
        </tbody>
    </table>

</div>