@{
    ViewBag.Title = "Claude | Home ";
}

<div class="table-row small-12 columns">
    <table class="tabled">
        <tbody>
        <tr>
            <td>
                <a class="btn" href="../GiftCard/">Gift Cards</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../HearAboutUs/" class="btn">Hear About Us</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../ProductGroup/" class="btn">Product Groups</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../Facility/" class="btn">Facility</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../Customer/" class="btn">Customer</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../Organization/" class="btn">Organization</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../StaffMember/" class="btn">Staff Members</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../CustomerContact/" class="btn">Customer Contact</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../Assessor/" class="btn">Assessor</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>