<!-- ** BEGIN DETAIL AREA ** -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Add or Edit Place</h1>
    </div>
    <div class="panel-body">
        <!-- ** BEGIN INPUT AREA -->

        <div class="row">
            <div class="col-sm-4">
                @{ Html.RenderPartial("Place/Place"); }
            </div>

            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Details
                        <a class="btn btn-sm btn-secondary pull-right" data-bind="click: DetailView.Primary" href="#" type="button">
                            Primary
                        </a>
                        <a class="btn btn-sm btn-secondary pull-right" data-bind="click: DetailView.Phones" href="#" type="button">
                            Phones
                        </a>
                        <a class="btn btn-sm btn-secondary pull-right" data-bind="click: DetailView.Addresses" href="#" type="button">
                            Addresses
                        </a>
                    </div>
                    <div class="panel-body">

                        <div data-bind="visible: IsPrimaryDetailVisible()">
                            @{ Html.RenderPartial("Primary/PlacePrimary"); }
                        </div>
                        <div data-bind="visible: IsPhoneDetailVisible()">
                            @{ Html.RenderPartial("Phones/Phones"); }
                        </div>
                        <div data-bind="visible: IsAddressDetailVisible()">
                            @{ Html.RenderPartial("Address/Addresses"); }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ** END INPUT AREA -->
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-sm btn-primary" data-bind="click: save" href="#" type="button">
                    <i class="glyphicon glyphicon-floppy-disk"></i>Save
                </a>
                <a class="btn btn-sm btn-primary" data-bind="click: cancel" href="#" type="button">
                    <i class="glyphicon glyphicon-remove-circle"></i>Cancel
                </a>
            </div>
        </div>
    </div>
</div>
<!-- ** END DETAIL AREA ** -->