<!-- ** BEGIN Addresses AREA -->
<div class="callout" id="PersonPhones">
    <div class="top-bar">
        <div class="top-bar-title">
            <ul class="menu">
                <li>
                    @Html.Label("Addresses", "Addresses")
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <a class="small-text-label columns" data-bind="visible: !personUseMailingforShipping(), click: PersonAddressView.Shipping" href="">Shipping</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="visible: !personUseMailingforShipping(), click: PersonAddressView.Mailing" href="">Mailing</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div data-bind="visible: IsPersonMailingAddressVisible">
            @{ Html.RenderPartial("Person/Addresses/MailingAddress"); }
        </div>
        <div data-bind="visible: IsPersonShippingAddressVisible">
            @{ Html.RenderPartial("Person/Addresses/ShippingAddress"); }
        </div>
    </div>
</div>
<!-- ** END Addresses AREA -->