<!-- ** BEGIN Phones AREA -->
<div class="callout" id="PersonDetail">
    <div class="top-bar">
        <div class="top-bar-title">
            <ul class="menu">
                <li>
                    @Html.Label("ContactDetail", "Contact Detail")
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <a class="small-text-label columns" data-bind="click: PersonAddressView.Mailing" href="">Mailing</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="visible: !personUseMailingforShipping(), click: PersonAddressView.Shipping" href="">Shipping</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="click: PersonPhoneView.Home" href="">Home</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="click: PersonPhoneView.Cell" href="">Cell</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="click: PersonPhoneView.Work" href="">Work</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="click: PersonPhoneView.Fax" href="">Fax</a>
                </li>
                <li>
                    <a class="small-text-label columns" data-bind="click: PersonPhoneView.Primary" href="">Primary</a>
                </li>
            </ul>
        </div>
    </div>
    <div data-bind="visible: IsPersonHomePhoneVisible">
        @{ Html.RenderPartial("Person/Phones/HomePhone"); }
    </div>
    <div data-bind="visible: IsPersonCellPhoneVisible">
        @{ Html.RenderPartial("Person/Phones/CellPhone"); }
    </div>
    <div data-bind="visible: IsPersonWorkPhoneVisible">
        @{ Html.RenderPartial("Person/Phones/WorkPhone"); }
    </div>
    <div data-bind="visible: IsPersonFaxPhoneVisible">
        @{ Html.RenderPartial("Person/Phones/FaxPhone"); }
    </div>
    <div data-bind="visible: IsPersonMailingAddressVisible">
        @{ Html.RenderPartial("Person/Addresses/MailingAddress"); }
    </div>
    <div data-bind="visible: IsPersonShippingAddressVisible">
        @{ Html.RenderPartial("Person/Addresses/ShippingAddress"); }
    </div>
</div>
<!-- ** END Phones AREA -->