<!-- ** BEGIN MESSAGE AREA -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Message</h1>
    </div>
    <div class="panel-body alert alert-danger">
        <div class="col-xs-10">
            <span data-bind="text: returnmessage"></span>
        </div>
    </div>
</div>
<!-- ** END MESSAGE AREA -->