<!-- ** BEGIN MESSAGE AREA -->
<div class="table-row small-12 columns error" id="message">
    <table class="tabled" id="messagetable">
        <thead class="error">
        <tr>
            <th>Message</th>
        </tr>
        </thead>
        <tbody class="error">
        <tr class="form-group">
            <td class="col-xs-10">
                <span data-bind="text: returnmessage"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- ** END MESSAGE AREA -->