<!-- ** BEGIN SEARCH AREA ** -->
<div class="table-row small-12 columns">
    <ul class="menu">
        <li class="form-group">
            @Html.Label("Search", "Enter Search or Add Value")
            @Html.TextBox("Value", "", new {@class = "form-control", data_bind = "value:searchvalue, valueUpdate: 'keyup'"})
        </li>
    </ul>
    <ul class="menu action">
        <li>
            <a data-bind="click: reset" href="">Reset</a>
        </li>
        <li>
            <a data-bind="click: add" href="">Add</a>
        </li>
    </ul>
</div>
<!-- ** END SEARCH AREA ** -->