<!-- ** BEGIN SEARCH AREA ** -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Search for Items in List</h1>
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Html.Label("Search", "Enter Search Value")
            @Html.TextBox("Value", "", new { @class = "form-control", data_bind = "value:searchvalue, valueUpdate: 'keyup'" })
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-primary" type="button"
           data-bind="click: reset" href="#"><i class="glyphicon glyphicon-share-alt"></i>Reset</a>
        <a class="btn btn-sm btn-primary" type="button"
           data-bind="click: addorcancel" href="#"><i class="glyphicon glyphicon-plus"></i>Add</a>
        <a class="btn btn-info btn-force-refresh pull-right" type="button"
           data-bind="click: toggleview" href="#"><i class="icon-refresh"></i>Refresh</a>
    </div>
</div>
<!-- ** END SEARCH AREA ** -->